body {
  background:rgb(22, 24, 32);
  font-family: Georgia, Helvetica;
  max-width: 900px;
  margin: auto;
  padding: 12px;
}

a {
  color: rgb(250, 155, 46);
  text-decoration-line: none;
  font-style: italic;
}

.photo {
  border-radius: 50%;
  border:2px solid rgb(250, 155, 46);
}

#title, .subtitle, .post_title {
  color: rgb(250, 155, 46);
  text-transform: uppercase;
}

.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 12px;
}

.post {
  background: rgb(33, 36, 48);
  padding: 10px;
  border: 2px solid rgb(250, 155, 46);
  border-radius: 2% 2% 5% 5%;
  margin-bottom: 12px;
}

.post_content {
  color: aliceblue;
  margin: 0;
  margin-bottom: 12px;
  text-align: justify;
}

.post_thumbnail {
  max-width: 100%;
  max-height: 240px;
  margin-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post_thumbnailLarge {
  max-width: 100%;
  max-height: 360px;
  margin-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact_list {
  list-style-type: none;
  padding: 0;
  padding-left: 12px;
}

.contact_list li a {
  font-style: normal;
}
